*{
    margin: 0%;
    padding: 0%;
}
.details{
    text-align: center;
}
#full-image{
    width: 50%;
}
.descripition{
    text-align: center;
    margin: 50px 250px;
    font-weight: 450;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.footer-descrip{
    height: 320px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
b{
  font-size: 20px;
  margin: 40px;
  color: red;
}
small{
    font-size: 17px;
}

